In [2]:
import re
import pandas as pd 
pd.set_option("display.max_colwidth", 200)
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

In [3]:
train  = pd.read_csv("project_train.csv")
test = pd.read_csv("project_test.csv")

In [4]:
train.shape , test.shape

((7613, 5), (3263, 4))

In [5]:
train.head(3)

   id  ... target
0   1  ...      1
1   4  ...      1
2   5  ...      1

[3 rows x 5 columns]

In [6]:
test.head(3)

   id  ...                                                                                              text
0   0  ...                                                                Just happened a terrible car crash
1   2  ...                                  Heard about #earthquake is different cities, stay safe everyone.
2   3  ...  there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all

[3 rows x 4 columns]

In [7]:
train["target"].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [8]:
# Combined Training and Testing Dataset
combi = train.append(test, ignore_index=True)
combi.shape

(10876, 5)

In [9]:
combi.tail(3)

          id  ... target
10873  10868  ...    NaN
10874  10874  ...    NaN
10875  10875  ...    NaN

[3 rows x 5 columns]

In [10]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [11]:
combi['tidy_tweet'] = np.vectorize(remove_pattern)(combi['text'], "@[\w]*") 
combi.head(50)

    id  ...                                                                                                                                    tidy_tweet
0    1  ...                                                                         Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1    4  ...                                                                                                        Forest fire near La Ronge Sask. Canada
2    5  ...         All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected
3    6  ...                                                                             13,000 people receive #wildfires evacuation orders in California
4    7  ...                                                      Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
5    8  ...                                #RockyFire Update => California Hwy. 20 closed in both directions due to Lake County fire - #CAfire #wildfires
6   10  ...                                               #flood #disaster Heavy rain causes flash flooding of streets in Manitou, Colorado Springs areas
7   13  ...                                                                                   I'm on top of the hill and I can see a fire in the woods...
8   14  ...                                                               There's an emergency evacuation happening now in the building across the street
9   15  ...                                                                                          I'm afraid that the tornado is coming to our area...
10  16  ...                                                                                                   Three people died from the heat wave so far
11  17  ...             Haha South Tampa is getting flooded hah- WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK #flooding
12  18  ...                                                                  #raining #flooding #Florida #TampaBay #Tampa 18 or 19 days. I've lost count
13  19  ...                                                                                                       #Flood in Bago Myanmar #We arrived Bago
14  20  ...                                                                                      Damage to school bus on 80 in multi car crash #BREAKING
15  23  ...                                                                                                                                What's up man?
16  24  ...                                                                                                                                 I love fruits
17  25  ...                                                                                                                              Summer is lovely
18  26  ...                                                                                                                             My car is so fast
19  28  ...                                                                                                                  What a goooooooaaaaaal!!!!!!
20  31  ...                                                                                                                        this is ridiculous....
21  32  ...                                                                                                                             London is cool ;)
22  33  ...                                                                                                                                   Love skiing
23  34  ...                                                                                                                         What a wonderful day!
24  36  ...                                                                                                                                      LOOOOOOL
25  37  ...                                                                                                                No way...I can't eat that shit
26  38  ...                                                                                                                         Was in NYC last week!
27  39  ...                                                                                                                            Love my girlfriend
28  40  ...                                                                                                                                     Cooool :)
29  41  ...                                                                                                                            Do you like pasta?
30  44  ...                                                                                                                                      The end!
31  48  ...                                                                                               Wholesale Markets ablaze http://t.co/lHYXEOHY6C
32  49  ...                                                                           We always try to bring the heavy. #metal #RT http://t.co/YAo1e0xngw
33  50  ...                                                            #AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba. http://t.co/2nndBGwyEi
34  52  ...                                                                                                            Crying out for more! Set me ablaze
35  53  ...                                                                  On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE http://t.co/qqsmshaJ3N
36  54  ...                                #mufc they've built so much hype around new acquisitions but I doubt they will set the EPL ablaze this season.
37  55  ...                                                                                       INEC Office in Abia Set Ablaze - http://t.co/3ImaomknnA
38  56  ...  Barbados #Bridgetown JAMAICA ÛÒ Two cars set ablaze: SANTA CRUZ ÛÓ Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J
39  57  ...                                                                                                                        Ablaze for you Lord :D
40  59  ...                            Check these out: http://t.co/rOI2NSmEJJ http://t.co/3Tj8ZjiN21 http://t.co/YDUiXEfIpE http://t.co/LxTjc87KLS #nsfw
41  61  ...                                                                                on the outside you're ablaze and alive\nbut you're dead inside
42  62  ...                      Had an awesome time visiting the CFC head office the ancop site and ablaze. Thanks to Tita Vida for taking care of us ??
43  63  ...                                                                                                                 SOOOO PUMPED FOR ABLAZE ????
44  64  ...                                                  I wanted to set Chicago ablaze with my preaching... But not my hotel! http://t.co/o9qknbfOFX
45  65  ...                                              I gained 3 followers in the last week. You? Know your stats and grow with http://t.co/TIyUliF5c6
46  66  ...                                             How the West was burned: Thousands of wildfires ablaze in California alone http://t.co/vl5TBR3wbr
47  67  ...                                                                               Building the perfect tracklist to life leave the streets ablaze
48  68  ...                            Check these out: http://t.co/rOI2NSmEJJ http://t.co/3Tj8ZjiN21 http://t.co/YDUiXEfIpE http://t.co/LxTjc87KLS #nsfw
49  71  ...    First night with retainers in. It's quite weird. Better get used to it; I have to wear them every single night for the next year at least.

[50 rows x 6 columns]

In [12]:
combi['tidy_tweet'] = combi['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")
combi.head(10)

   id  ...                                                                                                                             tidy_tweet
0   1  ...                                                                  Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1   4  ...                                                                                                 Forest fire near La Ronge Sask  Canada
2   5  ...  All residents asked to  shelter in place  are being notified by officers  No other evacuation or shelter in place orders are expected
3   6  ...                                                                             people receive #wildfires evacuation orders in California
4   7  ...                                               Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
5   8  ...                         #RockyFire Update    California Hwy     closed in both directions due to Lake County fire   #CAfire #wildfires
6  10  ...                                        #flood #disaster Heavy rain causes flash flooding of streets in Manitou  Colorado Springs areas
7  13  ...                                                                            I m on top of the hill and I can see a fire in the woods
8  14  ...                                                        There s an emergency evacuation happening now in the building across the street
9  15  ...                                                                                   I m afraid that the tornado is coming to our area

[10 rows x 6 columns]

In [13]:
combi['tidy_tweet'] = combi['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [14]:
combi.head()

   id  ...                                                                                            tidy_tweet
0   1  ...                                                           Deeds Reason this #earthquake ALLAH Forgive
1   4  ...                                                                    Forest fire near Ronge Sask Canada
2   5  ...  residents asked shelter place being notified officers other evacuation shelter place orders expected
3   6  ...                                                people receive #wildfires evacuation orders California
4   7  ...                        Just sent this photo from Ruby #Alaska smoke from #wildfires pours into school

[5 rows x 6 columns]

In [15]:
tokenized_tweet = combi['tidy_tweet'].apply(lambda x: x.split()) # tokenizing

In [16]:
tokenized_tweet.head(10)

0                                                                    [Deeds, Reason, this, #earthquake, ALLAH, Forgive]
1                                                                             [Forest, fire, near, Ronge, Sask, Canada]
2    [residents, asked, shelter, place, being, notified, officers, other, evacuation, shelter, place, orders, expected]
3                                                         [people, receive, #wildfires, evacuation, orders, California]
4                          [Just, sent, this, photo, from, Ruby, #Alaska, smoke, from, #wildfires, pours, into, school]
5                   [#RockyFire, Update, California, closed, both, directions, Lake, County, fire, #CAfire, #wildfires]
6                 [#flood, #disaster, Heavy, rain, causes, flash, flooding, streets, Manitou, Colorado, Springs, areas]
7                                                                                                   [hill, fire, woods]
8                                                   [There, emergency, evacuation, happening, building, across, street]
9                                                                                 [afraid, that, tornado, coming, area]
Name: tidy_tweet, dtype: object

In [17]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x]) # stemming

In [18]:
stemmer.stem('turning')

'turn'

In [19]:
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])
    
combi['tidy_tweet'] = tokenized_tweet

In [20]:
combi['tidy_tweet'].head(10)

0                                           deed reason thi #earthquak allah forgiv
1                                                 forest fire near rong sask canada
2    resid ask shelter place be notifi offic other evacu shelter place order expect
3                                      peopl receiv #wildfir evacu order california
4        just sent thi photo from rubi #alaska smoke from #wildfir pour into school
5     #rockyfir updat california close both direct lake counti fire #cafir #wildfir
6      #flood #disast heavi rain caus flash flood street manit colorado spring area
7                                                                    hill fire wood
8                                      there emerg evacu happen build across street
9                                                     afraid that tornado come area
Name: tidy_tweet, dtype: object

In [21]:
from gensim.models import Word2Vec

In [22]:
tokenized_tweet = combi['tidy_tweet'].apply(lambda x: x.split()) # tokenizing

model_w2v = Word2Vec(tokenized_tweet, size=200,  window=5)

model_w2v.train(tokenized_tweet, total_examples= len(combi['tidy_tweet']), epochs=20)

(1508509, 2136220)

In [23]:
model_w2v.wv.most_similar(positive="fire")

[('grove', 0.7859987020492554),
 ('apart', 0.7441520690917969),
 ('hinton', 0.7425417900085449),
 ('bush', 0.7374840974807739),
 ('contain', 0.7318223714828491),
 ('alarm', 0.7290016412734985),
 ('complex', 0.7261528968811035),
 ('close', 0.7253020405769348),
 ('forest', 0.7159005999565125),
 ('ridg', 0.7118695974349976)]

In [24]:
def word_vector(tokens, size):
    vec = np.zeros(size).reshape((1, size))
    count = 0.
    for word in tokens:
        try:
            vec += model_w2v[word].reshape((1, size))
            count += 1.
        except KeyError: # handling the case where the token is not in vocabulary
                         
            continue
    if count != 0:
        vec /= count
    return vec

In [25]:
wordvec_arrays = np.zeros((len(tokenized_tweet), 200))

for i in range(len(tokenized_tweet)):
    wordvec_arrays[i,:] = word_vector(tokenized_tweet[i], 200)
    
wordvec_df = pd.DataFrame(wordvec_arrays)
wordvec_df.shape

(10876, 200)

In [26]:
from sklearn.model_selection import train_test_split


train_w2v = wordvec_df.iloc[:7613,:]
test_w2v = wordvec_df.iloc[7613:,:]

_, _, ytrain, yvalid = train_test_split(train_w2v, train['target'],  random_state=42, test_size=0.3)



print(train_w2v.shape, train['target'].shape)

xtrain_w2v = train_w2v.iloc[ytrain.index,:]
xvalid_w2v = train_w2v.iloc[yvalid.index,:]

(7613, 200) (7613,)

In [27]:
import tensorflow as tf
import keras.layers as layers
from keras.models import Model

from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.layers import Input,Embedding,Dense,Flatten
from sklearn.metrics import accuracy_score,classification_report
from sklearn.metrics import f1_score

epochs = 25
batch_size = 1024
loss = "binary_crossentropy"
optimizer = "adam"
metrics = ["accuracy"]

from keras import models

callbacks = [EarlyStopping(monitor='val_loss', patience=2),
            ModelCheckpoint(filepath='best_model.h5', monitor='val_loss', save_best_only=True)]

model = models.Sequential()
model.add(Dense(512, activation='relu', input_shape=(200,)))
model.add(Dense(512, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss=loss,optimizer=optimizer,metrics= metrics)
model.fit(xtrain_w2v,ytrain,epochs=epochs,batch_size=batch_size,callbacks=callbacks,validation_data=(xvalid_w2v,yvalid))


predictions = model.predict(xvalid_w2v)
predictions = [0 if i<0.5 else 1 for i in predictions]

f1_score(yvalid, predictions)

Epoch 1/25
6/6 [==============================] - 3s 71ms/step - loss: 0.6056 - accuracy: 0.6969 - val_loss: 0.5202 - val_accuracy: 0.7561
Epoch 2/25
6/6 [==============================] - 0s 11ms/step - loss: 0.5240 - accuracy: 0.7570 - val_loss: 0.5176 - val_accuracy: 0.7539
Epoch 3/25
6/6 [==============================] - 0s 11ms/step - loss: 0.5034 - accuracy: 0.7660 - val_loss: 0.5052 - val_accuracy: 0.7684
Epoch 4/25
6/6 [==============================] - 0s 14ms/step - loss: 0.4902 - accuracy: 0.7720 - val_loss: 0.5050 - val_accuracy: 0.7671
Epoch 5/25
6/6 [==============================] - 0s 11ms/step - loss: 0.4804 - accuracy: 0.7827 - val_loss: 0.5043 - val_accuracy: 0.7644
Epoch 6/25
6/6 [==============================] - 0s 10ms/step - loss: 0.4745 - accuracy: 0.7836 - val_loss: 0.4992 - val_accuracy: 0.7736
Epoch 7/25
6/6 [==============================] - 0s 10ms/step - loss: 0.4637 - accuracy: 0.7876 - val_loss: 0.4993 - val_accuracy: 0.7736
Epoch 8/25
6/6 [==============================] - 0s 11ms/step - loss: 0.4635 - accuracy: 0.7885 - val_loss: 0.5127 - val_accuracy: 0.7596

0.726457399103139

In [28]:
test_pred = model.predict(test_w2v)
test_pred = [0 if i<0.5 else 1 for i in test_pred]

test['target'] = test_pred
submission = test[['id','target']]
submission.to_csv('submission6.csv', index=False)

In [29]:
submission

         id  target
0         0       0
1         2       1
2         3       1
3         9       0
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

# ACCURACY = 0.78179